@import "./common/var.scss";
@import "./mixins/mixin.scss";

@include b(message){
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    height: 40px;
    border-radius:10px;
    background-color:$--color-danger;
    color:$--color-white;
    line-height: 40px;
    padding-left: 18px;
    display: flex;
    transition:  opacity 0.3s ease-in-out, transform 0.4s ease-in-out, top 0.4s ease-in-out;
    @include m(info){
        background-color: $--color-info;
    }
    @include m(success){
        background-color: $--color-success;
    }
    @include m(danger){
        background-color: $--color-danger;
    }
    @include m(warning){
        background-color: $--color-warning;
    }
    @include when(center){
        padding-left: 0;
        justify-content: center;
    }
}
.z-message-fade-enter-from, .z-message-fade-leave-to{
    transform: translate(-50%, -100%);
    opacity: 0;
}