@import "../common/var.scss";

// .m-button{}
@mixin b($block) {
    $B: $namespace+'-'+$block;
    .#{$B}{
        @content;
    }
}
// .m-button.is-xxx
@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}
// &--primary => .m-button--primary
@mixin m($modifier) {
    @at-root {
        #{&+$modifier-separator+$modifier} {
            @content;
        }
    }
}
// &__header  => .m-button__header
@mixin e($element) {
    @at-root {
        #{&+$element-separator+$element} {
            @content;
        }
    }
}

@mixin button-type($color, $backgroundColor, $borderColor) {
    color: $color;
    background-color: $backgroundColor;
    border-color: $borderColor;
}
@mixin button-group-type($color, $backgroundColor, $borderColor) {
    .m-button{
        color: $color!important;
        background-color: $backgroundColor!important;
        border-color: $borderColor!important;
    }
}

// 定义响应式 responsive
@mixin res($key, $map: $--breakpoints) {
    // 循环断点Map，如果存在则返回
    @if map-has-key($map, $key) {
        @media only screen and #{inspect(map-get($map, $key))} {
            @content;
        }
    }
}